
  



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
   
}

a {
    text-decoration: none;
    color: white;
}

header {
    border-bottom: 1px solid black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: white;  
}

#check {
    display: none;
}
.checkbutton {
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 1.6rem;
} 

nav li {
    display: inline-block;
    list-style: none;
    font-size: 1.4rem;
    margin: 0 1rem 0;
    
}

nav li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    font-size: 2rem;
}


                                                                /*SECTION1*/ 

.section1 {
    background-color: black;
   padding: 3%;
}

.about {
    margin: auto;
    margin-top: 62.5px;
    display: flex;
    width: 90%;
    background-color: #eee;
}

.about-me {
   background-color: rgb(233, 231, 231);
   display: flex;
   flex-direction: column;
   padding: 2% 2% 3% 2%;
   justify-content: space-between;
   width: 50%;
   
   
}
.about-me-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
}


.about-me-text h2  {
    text-align: center;
    font-size: 3rem;
    
}
.about-me-text p {
    text-align: center;
    font-size: 1.3rem;
    
}
.about-me h3 {
    font-size: 2rem;
    text-align: center;
    
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
    
}
.logo-container img {
    max-width: 60px;
    margin: -3px;
    
}

.me-container {
    width: 50%;
    background-color:  rgb(233, 231, 231);
}
.me {
    align-self: center;
    justify-self: center;
    align-self: center;
    background-color: black;
    width: 100%;
}

/* --- PORTFOLIO SECION --- */

.portfolios-wrapper {
    display: flex;
    overflow-x: auto;
    
}

#porttitle {
    text-align: center;
    padding: 25px;
    font-size: 2.5rem;
   
}

.item {
    min-width: 350px;
    min-height: 350px;
    
    border: solid 1px black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-description-div{
    color: white;
    width: 80%;
    height: 80%;
    margin: auto;
    justify-self: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.item-description-div:hover {
    opacity: 1;
}


.item-description h3 {
    font-size: 2rem;
    text-decoration: underline;
}
.item-description p {
    font-size: 1.3rem;
}


.harmony-generator {
    background-image: url(media/harmGen.png);
    background-size: cover;
}



.flexbox-site {
    background-image: url(media/flexboxtest.png);
    background-size: cover;
}

/*form*/
.contact {
    border-top: solid 1px black;
    margin-top: 20px;
    background-color: black;
   
}

form {
    justify-content: center;
    padding-bottom: 20px;
}

legend {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

fieldset {
    margin: 2em;
    padding: 1em 2em;
    border: solid black 1px;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #eee;

    
}
label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
input{
    border-radius: 10px;
    height: 40px;
    max-width:400px;
    padding: 7px;
    font-size: 1.7rem;
    border: solid 1px black;
}

textarea{
    display: block;
    max-width: 400px;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
}

#submit {
    display: block;
    height: 30px;
    max-width: 100px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}




/* RESPSONSIVE DESIGN*/

@media only screen and (max-width: 850px) {    
    .about {
        margin-top: 30px;
        flex-direction: column-reverse;
        width: 90%;
    }
    
    .about-me {
       padding: 3% 2% 3% 2%;
       width: 100%;
    }
   
    .about-me h3 {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
    
    .me-container {
        width: 100%;
    }
}

@media only screen and (max-width:530px){

    nav{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 2%;
        width: 100%;
    }
    .checkbutton {
        font-size: 30px;
        display: block;

    }
    
    nav ul {
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color: #eee;
        text-align: center;
        position:fixed;
        top: 62.5px;
        border-top: black solid 1px;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    .nav li {
        padding-top: 50px;
    }
    #check:checked ~ul {
        left: 0;
    }
    
}


